name: Au Patient Summary IG Profiles publish->go-publish SNAPSHOT

on:
  push:
    tags:
      - '**-branch'

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  
jobs:
  build:
    runs-on: ubuntu-latest
    container: hl7fhir/ig-publisher-base    # use ig publisher base image https://hub.docker.com/r/hl7fhir/ig-publisher-base
    steps:
    
    # to save load time can build custom image with dependencies and push to docker hub
    - name: install aws cli
      run: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip -q awscliv2.zip
        ./aws/install
    
    - name: Get the tag name
      id: get_tag
      run: echo "##[set-output name=tag;]${GITHUB_REF#refs/tags/}"

    - name: Checkout Publications Repository
      uses: actions/checkout@v4
      with:
        repository: hl7au/publications

    - name: Configure AWS credentials from GitHub OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::966489602583:role/ghactions_publications_oidc
        aws-region: ap-southeast-2
        
    - name: Checkout AU patient summary Repository
      uses: actions/checkout@v4
      with:
        repository: hl7au/au-fhir-ps
        path: hl7au/au-fhir-ps
        ref: ${{ steps.get_tag.outputs.tag }} # explicit, not usually since the default is to checkout the initiating commit

    - name: Checkout IG History Template Repository
      uses: actions/checkout@v4
      with:
        repository: HL7/fhir-ig-history-template
        path: fhir-history
    
    - name: Checkout IG Registry Repository
      uses: actions/checkout@v4
      with:
        repository: hl7au/ig-registry
        path: ig-registry

    - name: Update Publisher
      run: |
        echo "Updating Publisher"
        curl -sSL https://raw.githubusercontent.com/HL7/ig-publisher-scripts/main/_updatePublisher.sh | bash -s -- -f -y # uses the latest update script from the ig-publisher-scripts repository
          
    - name: Basic Publish for Au patient summary
      run: |
          echo "Generating Publish for  Au patient summary IG..."
          java -jar input-cache/publisher.jar -ig hl7au/au-fhir-ps/ig.ini

    - name: Create directories
      run: |
        mkdir -p webroot/fhir/ps
        mv publish-setup.json ./webroot/

    - name: Download package-list.json
      run: |
        rm -rf hl7au/au-fhir-ps/package-list.json
        curl --output webroot/fhir/ps/package-list.json --url "https://hl7.org.au/fhir/ps/package-list.json"

    - name: Download package-feed.xml
      run: |
          curl --output webroot/fhir/package-feed.xml --url https://hl7.org.au/fhir/package-feed.xml       

    - name: Download publication-feed.xml
      run: |
        curl --output webroot/fhir/publication-feed.xml --url https://hl7.org.au/fhir/publication-feed.xml

    - name: Generate Package Registry
      run: |
        java -jar input-cache/publisher.jar -generate-package-registry webroot

    - name: Run Au patient summary manual publish 
      run:  |
        ver=$(grep -oP '"version"\s*:\s*"\K[^"]+' ./hl7au/au-fhir-ps/publication-request.json)
        echo $ver
        content=<!--ReleaseHeader--><p id="publish-box">This page is part of the AU Patient Summary (v{$ver}: QA Preview) based on <a no-external="true" href="http://hl7.org/fhir/R4">FHIR (HL7® FHIR® Standard) R4</a>. No current official version has been published yet.  For a full list of available versions, see the <a no-external="true" href="http://hl7.org.au/fhir/ps/history.html">Directory of published versions</a>. This version does not produce a registered package so may only be referenced directly here.</p><!--EndReleaseHeader-->"
        echo $content
        find . -type f -exec  perl -0777 -pi -e 's|<!--ReleaseHeader-->.*?<!--EndReleaseHeader-->|<!--ReleaseHeader-->${content}<!--EndReleaseHeader-->|gs' {} +
        
    - name: Copy assets
      run: |
       cp -r fhir-history/assets-hist/ ./webroot/fhir/ps/assets-hist/
       cp -r fhir-history/dist-hist/ ./webroot/fhir/ps/dist-hist/

    - name: Upload Patient Summary Webroot to S3
      run: |
        aws s3 cp ./webroot/fhir s3://action-runner-working/fhir --recursive --only-show-errors #/${{ steps.get_tag.outputs.tag }}
        
